//FONT IMPORT
@font-face {
    font-family: Ninja;
    src: url(sources/Fonts/AssassinNinja.otf);
}
@font-face {
    font-family: Shika;
    src: url(sources/Fonts/Shikamaru.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');



//COLOR PALETTE
$c-white: #ddd9d3;
$c-gray: #4D525B;
$c-drkbrown: #0F0101;
$c-darkred: #310000;
$c-main: #431717;

//GENERAL
body{
    color: $c-gray;
    margin: 0px;
    font-family: Kanit;
    font-size: 2rem;
}

//NAV BAR
nav{
    background-color: $c-white;
    margin-top: auto;
    height: 90px;
    width: 100%;
    font-size: 27px;
    position: absolute;
    opacity: 1;
    position: fixed;
    z-index: 9;
    img{
        display: inline;
        height: 90px;
        margin-left: 15px;
    }
    div{
        display: inline;
        float: right;
        margin-top: 26px;
        ul{
            margin-left: 1000px;
            display: inline;
            margin-right: 40px;
            li{
                display: inline;
                margin-right: 40px;
                a{
                    text-decoration: none;
                    color: $c-main;
                    font-family: Shika;
                }
            }
        }
        div{
            display: inline;
            margin-top: auto;
            img{
                margin-right: 40px;
            }
        }
    }
}

#twitter{
    height: 37px;
}
#discord{
    height: 37px;
}
#magiceden{
    height: 40px;
}

//HERO
#hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $c-darkred;
    h1{
        font-size: 10rem;
        line-height: 0.9;
        text-align: center;
        position: absolute;
        font-family: Ninja;
        z-index: 2;
        color: $c-white;
    }
    img{
        opacity: 0.1;
        z-index: 1;
        min-width:100%;
        height: 100vh;
        position: absolute;
    }   
}

//CONTENT
#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: $c-white;
    div{
        padding-inline: 10%;
        padding-top: 7.5%;
        padding-bottom: 5%;
        color: $c-gray;
        h1{
            color: $c-main;
        }
    }
}
.inverted{
    background-color: $c-main;
    color: $c-white !important;
    h1{
        color: $c-white !important;
    }
}


#join{
    height: 1000px;
    div{
        width: 100%;
        height: 300px;
        background-color: $c-darkred;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
            h1{
                font-size: 5rem;
                line-height: 0.9;
                text-align: center;
                position: absolute;
                z-index: 2;
                color: $c-white;
            }
            img{
                opacity: 0.5;
                z-index: 1;
                width:80%;
                height: 300px;
                position: absolute;
            }
    }
}

#info{
    height: 1200px;
    width: 100%;
    div{ //esto se va
        margin-left: 10%;
        margin-top: 5%;
        width: 400px;
        height: 500px;
    }
}

#roadmap{
    height: 1080px;
    div{
        width: 60%;
        height: 600px;
    }
}

#team{
    height: 700px;
    div{
        width: 70%;
        height: 500px;
    }
}

#faqs{
    height: 500px;
}




/*BUILDING TOOLS
.test{
    border: 2px dashed rgb(6, 17, 124);
}
*/