//FONT IMPORT
@font-face {
    font-family: Kanji ;
    src: url(sources/KaneiwaAlpRegular-jEpG.ttf);
}


//COLOR PALETTE
$prim-color: #ccc;
$scnd-color: #222;
$trcy-color: #2E0505;
$bg-color: #555;

//GENERAL
body{
    background-color: $bg-color;
    color: $prim-color;
}

//NAV BAR
nav{
    background-color: $trcy-color;
    margin-top: auto;
    height: 90px;
    width: 100%;
    font-size: 27px;
    position: absolute;
    opacity: 1;
    position: fixed;
    z-index: 9;
    img{
        display: inline;
    }
    div{
        display: inline;
        float: right;
        margin-top: 30px;
        ul{
            margin-left: 1000px;
            display: inline;
            margin-right: 40px;
            li{
                display: inline;
                text-decoration: none;
                margin-right: 40px;
            }
            li:hover{
                cursor: pointer;
            }
        }
        div{
            display: inline;
            img{
                margin-right: 40px;
            }
        }
    }
}

//CONTENT
#content{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: $scnd-color;
}
#intro{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    h1{
        font-size: 10rem;
        line-height: 0.9;
        text-align: center;
        position: absolute;
    }
    img{
        opacity: 0.5;
        z-index: -1;
        min-width:100%;
        min-height:100%;
    }
}


#info{
    height: 1200px;
    width: 100%;
    div{ //esto se va
        margin-left: 10%;
        margin-top: 5%;
        width: 400px;
        height: 500px;
    }
}


#join{
    height: 900px;
    div{
        width: 70%;
        height: 500px;
        margin-left: 15%;
    }
}

#roadmap{
    height: 1080px;
    div{
        width: 60%;
        height: 600px;
    }
}

#team{
    height: 700px;
    div{
        width: 70%;
        height: 500px;
    }
}

#faqs{
    height: 500px;
}




/*BUILDING TOOLS*/
.test{
    border: 2px dashed greenyellow;
}
