@font-face {
  font-family: Ninja;
  src: url(sources/Fonts/AssassinNinja.otf);
}
@font-face {
  font-family: Shika;
  src: url(sources/Fonts/Shikamaru.ttf);
}
body {
  margin: 0px;
  font-family: Kanit;
  font-size: 1.5rem;
  overflow-x: hidden;
  min-width: 100%;
}

nav {
  background-color: #ddd9d3;
  margin-top: auto;
  height: 90px;
  width: 100%;
  font-size: 1.5rem;
  position: absolute;
  opacity: 1;
  position: fixed;
  z-index: 9;
}
nav a img {
  display: inline;
  height: 90px;
  margin-left: 15px;
}
nav div {
  display: inline;
  float: right;
  margin-top: 26px;
}
nav div ul {
  display: inline;
}
nav div ul li {
  display: inline;
  margin-right: 40px;
  text-decoration: none;
  color: #431717;
  font-family: Shika;
}
nav div ul li:hover {
  cursor: pointer;
}
nav div div {
  display: inline;
  margin-top: auto;
}
nav div div img {
  margin-right: 20px;
}

#twitter {
  height: 27px;
}

#discord {
  height: 27px;
}

#magiceden {
  height: 30px;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #310000;
}
#hero h1 {
  font-size: 10rem;
  line-height: 0.9;
  text-align: center;
  position: absolute;
  font-family: Ninja;
  z-index: 2;
  color: #ddd9d3;
}
#hero img {
  opacity: 0.1;
  z-index: 1;
  min-width: 100%;
  height: 100vh;
  position: absolute;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ddd9d3;
}
#content div {
  padding-inline: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#content div h1 {
  font-family: Rock Salt;
  font-size: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.redtheme {
  background-color: #431717;
  color: #ddd9d3;
}

.whitetheme {
  color: #4D525B;
}
.whitetheme h1 {
  color: #431717;
}

#join {
  height: 600px;
}
#join div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
}
#join .banner {
  height: 18rem;
  background-color: #310000;
}
#join .banner h1 {
  font-size: 4.3rem;
  line-height: 0.9;
  text-align: center;
  position: absolute;
  z-index: 2;
  color: #ddd9d3;
  font-family: Stalinist One;
}
#join .banner img {
  opacity: 0.5;
  z-index: 1;
  width: 80%;
  height: 18rem;
  position: absolute;
}

.buttons {
  height: 5rem;
  width: 30rem;
}
.buttons a {
  padding: 7px;
  padding-inline: 50px;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  border: 0px solid;
  font-size: 1.5rem;
  box-shadow: 0 0.2em #4D525B;
  margin-top: 0px;
  transition: 350ms;
}
.buttons a:hover {
  box-shadow: 0 0 #6b6b6b;
  margin-top: 0.5em;
}

.discbutton {
  margin-right: 1rem;
  background-color: #758aff;
}

.mebutton {
  margin-left: 1rem;
  background-color: #da43a5;
}

#info {
  height: 1200px;
  width: 100%;
}
#info div div {
  margin-left: 10%;
  margin-top: 5%;
  height: 41rem;
  width: 95rem;
  padding-inline: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#info div div img {
  display: inline;
  height: 40rem;
  border: 0.5rem double #ddd9d3;
}
#info div div div {
  display: inline;
  width: 50rem;
  margin-left: 2rem;
  height: auto;
  float: right;
}
#info div div div p {
  color: #ddd9d3;
}

#roadmap {
  height: 1080px;
}
#roadmap div {
  width: 60%;
  height: 600px;
}

#team {
  height: 40rem;
}
#team div {
  width: 70%;
  height: 20rem;
}

#faqs {
  height: 500px;
}

/*BUILDING TOOLS*/
/*
.test{
    border: 4px dashed rgb(6, 17, 124);
}*/

/*# sourceMappingURL=styles.css.map */
